.goods {

}

.list {
  display: grid;
  padding-top: 24px;
  grid-template-columns: 1fr 1fr;
  gap:49px 8px;

  @media (min-width: 580px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap:65px 10px;
    padding-top: 32px;
  }
  @media (min-width: 820px) {
    padding-top: 40px;
  }

  @media (min-width: 1120px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:81px 16px;
  }
}