.card {
  min-height: 233px;
  min-width: 140px;

  max-height: 346px;
  display: grid;
  grid-template-columns: auto 68px;
  row-gap: 12px;
  position: relative;

  @media (min-width: 580px) {
    max-width: 230px;
    row-gap: 16px;
  }
  @media (min-width: 820px) {
    max-width: 302px;
  }
  @media (min-width: 1120px) {

  }
}

.image {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 7/6;
}

.text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  grid-row: 2/3;
  line-height: 1.2;
  @media (min-width: 580px) {
    grid-row: 2/3;
    font-size: 16px;
  }

}
.price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  grid-row: 3/4;

  @media (min-width: 580px) {
    grid-row: 2/3;
    text-align: right;
    font-size: 20px;
  }
}

.button {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border-radius: 32px;
  height: 38px;
  color: #780096;
  border: 1px solid #780096;
  grid-column: 1/3;
  grid-row: 4/5;

  &:hover {
    color: #ffffff;
    border: 1px solid #9200B7;
    background: #9200B7;
  }
  &:active,
  &:focus-visible
  {
    outline: none;
    border: 1px solid #C0F;
  }

  @media (min-width: 580px) {
    grid-row: 3/4;
  }

}

.heart {
  position: absolute;
  top: 12px;
  right: 12px;
}