.img {
  width: 100%;

  @media (min-width: 580px) {

  }
  @media (min-width: 820px) {

  }
  @media (min-width: 1120px) {

  }
}

.link {
  border-radius: 4px;

  &:focus-visible
  {
    color: #780096;
    outline-color: #780096;
  }
}